.home {
    background: #F5F9FA;
    padding-bottom: .5rem;
    .banner {
        height: 2.3rem;
        padding: 0.1rem;
        background: var(--adm-color-primary);
        .location {
            display: inline;
            vertical-align: baseline;
            line-height: 1;
            color: #fff;
            .iconfont {
                font-size: .12rem;
                margin-right: .01rem;
            }
        }
        .search {
            display: flex;
            line-height: .24rem;
            width: 3.4rem;
            margin: .14rem auto .12rem auto;
            background: #fff;
            border: .01rem solid #ccc;
            border-radius: .2rem;
            padding: .05rem;
            .adm-input-element {
                font-size: .14rem;
                color: #808080;
                margin-left: .05rem;
            }
        }
        .swiper-item {
            height: 1rem;
            border-radius: .2rem;
            img {
                border-radius: .2rem;
                object-fit: cover;
                width: 3.55rem;
                height: 1rem;
            }
        }
    }
    .docker {
        position: fixed;
        height: .49rem;
        border-top: .01rem solid #B3C1C4;
        background: #FFF;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        font-size: .12rem;
        color: #B3C1C4;
        text-align: center;
        &-item {
            flex: 1;
            .iconfont {
                font-size: .18rem;
                margin: .04rem 0;
            }
            &-title {
    
            }
        }
        &-item-active {
            color: #73D13D;
        }
    }
    .bottom {
        height: 1rem;
        line-height: 1rem;
        color: #B3C1C4;
        font-size: .12rem;
        text-align: center;
        background: #F5F9FA;
    }
}

.category {
    position: relative;
    margin-top: -.4rem;
    height: 1.9rem;
    background: #FFFFFF;
    border-radius: .2rem .2rem 0 0;
    display: flex;
    flex-wrap: wrap;
    font-size: .12rem;
    color: #242424;
    &-item {
        flex: 0 0 25%;
        text-align: center;
        &-img {
            margin-top: .16rem;
            margin-bottom: .13rem;
            width: .42rem;
            height: .36rem;
        } 
    }
    padding-bottom: .2rem;
}

