@import './iconfont.css';
@import './border.scss';

$--adm-color-primary: rgb(255, 218, 0);

* {
    padding: 0;
    margin: 0;
}

:root:root {
    --adm-color-primary: rgb(255, 218, 0);
}

.page {
    width: 100vw;
    height: 100vh;
    font-size: 0.1rem;
    box-sizing: border-box;
}