@font-face {
    font-family: "iconfont"; /* Project id 4534502 */
    src: url('//at.alicdn.com/t/c/font_4534502_hsm93rdow1c.woff2?t=1714982308149') format('woff2'),
         url('//at.alicdn.com/t/c/font_4534502_hsm93rdow1c.woff?t=1714982308149') format('woff'),
         url('//at.alicdn.com/t/c/font_4534502_hsm93rdow1c.ttf?t=1714982308149') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-cc-arrow-right:before {
    content: "\e60c";
  }
  